.example-section {
  margin: 12px 0;
}

.checkbox-container {
  border: 1px solid #ddd9d9;
  background-color: #f4f4f4;
  margin-bottom: 3%;
  height: 100%;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.title-component {
  margin-left: 10px;
  margin-top: 10px;
}

.component-container {
  margin-left: 10px;
  margin-top: 10px;
}
