.chip-container {
  border: 1px solid #ddd9d9;
  background-color: #f4f4f4;
  margin-bottom: 3%;
  height: 100%;
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  padding-bottom: 3%;
}

.title-component {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.component-container {
  margin-left: 1%;
  padding-top: 2%;
}
